@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
body
{
    overflow-y: hidden;
    min-width: 320px;
}
*
{
    font-family: Alef hebrew;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;  
}

.shop
{
/*    background-color: yellow;*/
    overflow: hidden;
    float: left;
    padding: 10px 0px 13px 23px!important;
}

div.product
{
    align-content: center;
    background-color: white;
    border: 1px black solid;
    border-radius: 20px/60px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
    margin: 9px 2px 3px 3px;
    height: 150px;
    width: 128px;
    cursor: pointer;
}
div.product:active 
{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
img.prodPic
{
    margin-top: 10px;
    margin-left: 20px;
    height: 90px;
    width: 88px;
}
p.prodName
{
    margin-top: 1px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: black;
}
.price
{
    margin-top: -13px;
    text-align: center;
    font-size: 18px;
    color: green;
    font-weight: bold;
}


.disabledItem
{
   display:block!important; 
}


.soldOutPic
{
    width: 102px;
    height: 139px;
    margin-left: 12px;
    margin-top: 4px;
    position: absolute;
    z-index: 3;
    opacity: 0.5;
}
.myBadge
{
    display: inline-block;
    min-width: 32px;
    min-height: 19px;
    padding: 3px 7px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 50%;
    background-color: red!important;
    color: white;
    margin-top: -2px;
    font-size: 13px!important;
    margin-right: -1px;
    cursor: pointer;
}
.cartIcon
{
    cursor: pointer; 
}
.cartGlyphicon
{
    transform: scaleX(-1)!important;
    -moz-transform: scaleX(-1)!important;
    -webkit-transform: scaleX(-1)!important;
    -ms-transform: scaleX(-1)!important;
    min-width: 20px!important;
    font-size: 17px;
    margin-right: 79.5px;
}

.disabledItemButton
{
    box-shadow: 0 5px #666!important;
    transform: translateY(4px)!important;
}
.filterNames
{
    margin-left: 5px;
}
.fliterCtgs
{
    margin-top: 15px;
    margin-left: 5px;
}
