<div>
    <div class="container-fluid">
        <h2 style='text-align: center'>Admin's zone</h2>
        <ul class="nav nav-tabs">
          <li><a href="/#/admin">Manage stock</a></li>
          <li><a href="#/admin/manageOrders">Manage orders</a></li>
          <li><a href="#/admin/statistics">Statistics</a></li>
          <li class="active"><a href="#/admin/customerView">Customer's view</a></li>
        </ul>
    </div>
    <div class="fluidMedia">
        <iframe src="/#/" scrolling="no"></iframe>
    </div>
</div>

